.view{
display: inline-block;
margin: 0 10px;
width:380px;
}
.view h2{
 color: white;
    text-align: center;
}

.view img:hover{
box-shadow: 10px 10px 5px #888888;
}

.view img{
position: absolute;
}
.btnCardDelete{
background: url('../img/delete.png') no-repeat;
height: 40px;
width:40px;
background-size: cover;
}
.btnCardEdit{
background: url('../img/edit.png') no-repeat;
height: 40px;
width:40px;
background-size: cover; 
}
.view .mask{
position: relative;
text-align: center;
}
.view a.info{
background: black;
color: white;
padding: 8px;
}
#btnUpdate{
display:none;
}